table.greenTable {
	font-family: "Montserrat", "Oxigen", "Ubuntu", "Cantarell", "Fira Sans",
		"Doid Sans", "Helvetica", "Arial", "sans-serif";
	border: 6px solid #24943A;
	background-color: #F8F8FF;
	width: 100%;
	text-align: center;
}

table.greenTable td, table.greenTable th {
	border: 1px solid #24943A;
	padding: 3px 2px;
	text-align: center;
}

table.greenTable tbody td {
	font-size: 13px;
}

table.greenTable thead {
	background: #24943A;
	background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	border-bottom: 0px solid #444444;
}

table.greenTable thead th {
	font-size: 36px;
	color: white;
	font-weight: bold;
	text-align: center;
	border-left: 2px solid #24943A;
}

table.greenTable thead th:first-child {
	border-left: none;
}

table.greenTable tfoot {
	font-size: 13px;
	font-weight: bold;
	color: #F0F0F0;
	background: #24943A;
	background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	border-top: 1px solid #24943A;
}

table.greenTable tfoot td {
	font-size: 13px;
	text-align: right;
}

table.greenTable tfoot .links {
	text-align: right;
}

table.greenTable tfoot .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #24943A;
	padding: 2px 8px;
	border-radius: 5px;
}

.titulo {
	color: #228B22;
}

.titulo2 {
	color: #808080;
	font-size: 24px;
	font-weight: bold;
}

.text {
	color: #808080;
	text-align: center;
}

.myButton {
	box-shadow: inset 0px 0px 15px 3px #23395e;
	background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color: #2e466e;
	border-radius: 17px;
	border: 1px solid #1f2f47;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 6px 13px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

.myButton:hover {
	background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color: #415989;
}

.myButton:active {
	position: relative;
	top: 1px;
}

